table {
  width: 100%;
}

.red-text {
color: red;
}

.title {
text-align: center;
}

.file-input {
  display: none;
}

.file-upload {
  margin-left: 25px;
}

#block_container
{
    text-align:center;
}
#block1, #block2
{
    display:inline;
    margin-left: 25px;
}

/* .mat-row:nth-child(even) {
background-color: rgb(222, 225, 240);
}

.mat-row:nth-child(odd) {
background-color:white;
}

.mat-header-row {
background-color:rgb(63, 81, 181);
} */