<h1>{{title}}</h1>

<div class="red-text" *ngIf="message != 'Documents available'">
     {{ message }} 
</div>
<br />

<div id="block-container">
    <div id="block1">
        <label>Opis: </label>
        <input type="text" class="form-control" id="description" [(ngModel)]="description" />
    </div>
    <input type="file" class="file-input" (change)="uploadDocument($event)" #fileUpload>
    <div id="block2" class="file-upload">

        {{fileName || "Pohrani dokument u DMS."}}

        <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
            <mat-icon>cloud_upload</mat-icon>
        </button>
    </div>
</div>
<br />

<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Index Column -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> R.b. </th>
            <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
          </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Naziv </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Opis </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- View Column -->
        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef> Pregled </th>
            <td mat-cell *matCellDef="let document">
                <button mat-icon-button (click)="viewDocument(document)"><mat-icon>slideshow</mat-icon></button>
            </td>
        </ng-container>

        <!-- Download Column -->
        <ng-container matColumnDef="download">
            <th mat-header-cell *matHeaderCellDef> Preuzmi </th>
            <td mat-cell *matCellDef="let document">
                <button mat-icon-button (click)="downloadDocument(document)"><mat-icon>file_download</mat-icon></button>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Obriši </th>
            <td mat-cell *matCellDef="let document">
                <button mat-icon-button (click)="deleteDocument(document.id)"><mat-icon>delete</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row 
            *matRowDef="let document; columns: displayedColumns;"
            (click) = "onRowClicked(document)"
        ></tr>
    </table>
</div>

