<h2 class="title">
    Izmjena dokumenta: {{ name }}
</h2>
<div>
    <div>
        <label for="name">Naziv: </label>
        <input class="form-control" id="name" [(ngModel)]="name" />
    </div>
    <div>
        <label for="description">Opis: </label>
        <input class="form-control" id="description" [(ngModel)]="description" />
    </div>
    <div>
        <input type="file" class="file-input" (change)="uploadEditDocument($event)" #fileEditUpload>
    <div class="file-upload">

        {{"Odabir dokumenta "}}

        <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileEditUpload.click()">
            <mat-icon>cloud_upload</mat-icon>
        </button>

        {{"Dokument: " + name || "Dokument: "}}

    </div>
    </div>


</div>
<br />
<br />
<div style="text-align: right">
    <button  mat-button (click)="onClose()">Spremi</button>
</div>
